body{
    margin: 0px;
    padding: 0px;
}
.header{
    
    height: 80px;
    padding: 10px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}
ul li a{
    color: rgb(100, 0, 22);
    letter-spacing: 0,1rem;
}
ul li a:hover{
    color: black;
    padding: 10px;
}
.header li{
    float: right;
}
.header li a{
    text-decoration: none;
}
